body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.wrapper-header{

    border-radius: 7px;
    background-color: #ffff;
    padding: 5px;

}

.container{
    margin: 0 15px;
}

.wrapper-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-logo{
    display: flex;
    margin: 0px;
}

.logo {
    width: 20px;
    margin: 0;
}

.tittle{
    color: #A8BB45;
    font-family: Irish Grover;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.wrapper-phone{
    display: flex;
    align-items: center;
}

.wrapper-location{
    display: flex;
    align-items: center;
}

.phone{
    width: 10px
}

.location{
    width: 10px
}

.phone-text{
    color: #A8BB45;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    margin-left: 5px;
}

.location-text{
    color: #A8BB45;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    margin-left: 5px;
}
  
.menu-small {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.menu-big{
   display: none;
}

@media(min-width: 768px) {

.menu-small{
    display: none;
}

.menu-big{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;
}

.logo{
    width: 35px;
}

.tittle{
    font-size: 32px;
}

.phone{
    width: 25px
}

.location{
    width: 25px
}

.phone-text{
    font-size: 15px;
}

.location-text{
    font-size: 15px;
}

}



@media(min-width: 1024px) {
    .logo{
        width: 50px;
    }
    
    .tittle{
        font-size: 48px;
    }
}